# Configurações AWS SES (Direct SDK)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=SUA_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=SUA_SECRET_ACCESS_KEY

# Detalhes de Envio
EMAIL_FROM="Seu Nome <seu-email-verificado@dominio.com>"
ADMIN_EMAIL=success@simulator.amazonses.com
SES_CONFIG_SET=my-first-configuration-set

# Servidor
PORT=3001
